<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->

<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <title>Title</title>-->
<!--</head>-->

<!--<body>-->
<!--<div class="profile">-->
<!--    <p>USER NAME :<span th:text="${username}"></span></p>-->

<!--    <p>FIRST NAME :<span th:text="${firstName}"></span></p>-->
<!--    <p>LAST NAME :<span th:text="${lastName}"></span></p>-->
<!--    <p>DATE OF BIRTH :<span th:text="${dateOfBirth}"></span></p>-->
<!--    <p>BIO :<span th:text="${bio}"></span></p>-->
<!--    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0XmvVL7mrbkE4LOF-O3UCi_V8oUG-3T_ODw&usqp=CAU" alt="profile img" />-->
<!--</div>-->
<!--</body>-->

<!--</html>-->