<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="signin.css"/>
</head>
<h1> please Sign in...  </h1>
<body>
<form action="perform_login" method="POST" class="signin">
    <label for="username">User Name</label>
    <input id="username" name="username" type="text">
    <label for="password">Password</label>
    <input id="password" name="password" type="password">
    <button type="submit">login</button>
</form>

</body>
</html>
