<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="signup.css">
</head>
<body>
<h1>please Sign up... </h1>

<form action="/signup"  method="post" class="signup" >
  <label for="username">User Name</label>
  <input id="username" name="username" type="text" />
  <br/>
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <br/>
  <label for="firstName">First Name</label>
  <input id="firstName" name="firstName" type="text" />
  <br/>
  <label for="lastName">Last Name</label>
  <input id="lastName" name="lastName" type="text" />
  <br/>
  <label for="dateOfBirth">Date Of Birth</label>
  <input id="dateOfBirth" name="dateOfBirth" type="date" />
  <br/>
  <label for="bio">bio</label>
  <input id="bio" name="bio" type="text" />
  <br/>

  <button type="submit">Sign up</button>
</form>



</body>
</html>